<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Agenda</title>
    <style>
        input{

        }
    </style>
</head>
<body>
    <div class="container">
    <h1>
             Contatos
    </h1>
    <form method="POST" action="/salva-contatos"th:object="${contato}">

      

        <div class="form-group">
          <label for="id">Id</label>
          <input type="text" class="form-control " id="id" name="id" th:field="*{id}" th:value="${id}">
        </div>
          <div class="form-group">
          <label for="email">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" th:field="*{nome}" th:value="${nome}">
        </div>
        <div class="form-group">
            <label for="email">Sobrenome</label>
            <input type="text" class="form-control" id="sobrenome" name="sobrenome" th:field="*{sobrenome}" th:value="${sobrenome}">
          </div>
          <div class="form-group">
            <label for="email">Telefone</label>
            <input type="text" class="form-control" id="telefone" name="telefone"  th:field="*{telefone}" th:value="${telefone}">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email"   th:field="*{email}" th:value="${email}">
          </div>
          <div class="form-group">
            <label for="email">Aniversario</label>
            <input type="text" class="form-control" id="aniversario" name="aniversario"  th:field="*{aniversario}" th:value="${aniversario}">
          </div>
                  <input type="submit" class="btn btn-secondary active" value="Enviar">
        
        </form>
    </div>
</body>
</html>