<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
    <style>
        input{

        }
    </style>
</head>
<body>
    <div class="container">
    <h1>
      Agenda
    </h1>
    <form>
        <div class="form-group">
          <label for="proprietarios">Nome do Proprietario</label>
          <input type="text" class="form-control " id="proprietarios" name="proprietarios">
        </div>
          <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="email">Telefone</label>
            <input type="text" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="email">Contato</label>
            <input type="text" class="form-control" id="email">
          </div>
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="checkbox" checked> Salvo
                </label>
              </div>
        
        </form>
        </div>
</body>
</html>