<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
    <style>
        input{

        }
    </style>
</head>
<body>
    <div class="container">
   
    <h1>    Compromisso    </h1>
    <form action="/salva-compromisso" th:object="${Compromisso}">
        
          <div class="form-group">
          <label for="email">Id</label>
          <input type="text" class="form-control" id="id">
        </div>
        <div class="form-group">
            <label for="email">Descricao</label>
            ,<input type="text" class="form-control" id="descricao">
          </div>
          <div class="form-group">
            <label for="email">Titulo</label>
            <input type="text" class="form-control" id="titulo">
          </div>
          <div class="form-group">
            <label for="email">Data</label>
            <input type="text" class="form-control" id="data">
          </div>
          <div class="form-group">
            <label for="email">Horario</label>
            <input type="text" class="form-control" id="horario">
          </div>
                  <input type="submit" class="btn btn-secondary active"> Salvo
                </label>
              </div>
        
        </form>
    </div>
</body>
</html>